$primarycolor: #a10955;
$secondrycolor: #6fd457;
$light: #fff;
$green: #5ccf62;
$button: #50cb6a;
$dark: #3c3c3c;
$pink: #a10955;
$grey: #f9f9fb;
$dark-grey: #9f9f9f;
$light-grey: #777777;
$box: #949393;
$box-green: #6ed456;
